# ============================
# Environment Variables
# ============================
.env

# ============================
# Python
# ============================
__pycache__/
*.py[cod]
*.pyo

# ============================
# Jupyter Notebook
# ============================
.ipynb_checkpoints/

# ============================
# VS Code
# ============================
.vscode/

# ============================
# Logs
# ============================
logs/
*.log

# ============================
# Cache
# ============================
cache/api_responses/

# ============================
# Generated Data
# ============================
database/raw/
database/processed/

# ============================
# Operating System Files
# ============================
Thumbs.db
.DS_Store

# ============================
# Python Environment
# ============================
venv/
.venv/